---
import { fetchSanity } from "@/lib/sanity";
import dateFormat from "@/lib/utils/dateFormat";
//import readingTime from "@/lib/utils/readingTime";
import { plainify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";
import config from "@/config/config.json";

const { summary_length } = config.settings;

// GROQ query ile Sanity'den verileri al
const query = `*[_type == "post"] | order(publishedAt desc){
  _id,
  title,
  slug,
  body,
  tag,
  "mainImageUrl": mainImage.asset->url
}`;


const posts = await fetchSanity(query);
---

<div class="row">
  {
    posts.map((item) => (
      <div class="mb-8 md:col-6 lg:col-4">
        <div class="card">
          {item.mainImage?.asset?.url && (
              <Image
                class="card-img aspect-video"
                width={335}
                height={210}
                src={item.mainImage.asset.url}
                alt={item.title}
              />
            )}

          <div class="card-content">

            <h3 class="h4 card-title">
              <a href={`/blog/${item.slug.current}`}>{item.title}</a>
            </h3>

            {item.body && (
              <p class="mb-4 text-text">
                {plainify(item.body[0]?.children[0]?.text.slice(0, Number(summary_length)))}...
              </p>
            )}

            <div class="card-footer mt-6 flex space-x-4">
              <span class="inline-flex items-center text-xs text-[#666]">
                <!-- tarih ikonu -->
                <svg class="mr-1.5" width="14" height="16" viewBox="0 0 14 16" fill="none">
                  <path d="..." fill="#939393" />
                </svg>
                

              </span>

              <span class="inline-flex items-center text-xs text-[#666]">
                <!-- okuma süresi ikonu -->
                <svg class="mr-1.5" width="16" height="16" viewBox="0 0 16 16" fill="none">
                  <path d="..." fill="#939393" />
                </svg>
                
              </span>
            </div>

          </div>
        </div>
      </div>
    ))
  }
</div>
