---
// Blog listesi sayfası
import Base from '@/layouts/Base.astro';
import BlogList from '@/components/BlogList.astro';
import { getBlogPosts } from 'lib/strapi';

const allPosts = await getBlogPosts();
---

<Base title="Blog Yazıları">
  <main class="container py-8">
    <h1 class="text-3xl font-bold mb-8">Tüm Yazılar</h1>
    <BlogList posts={allPosts} />
  </main>
</Base>