---

---
<div class="gradient-grid mx-auto max-w border-x border-black flex px-8 py-12 w-full z-index: 1" style="min-height: 300px;">
  
  <h1 class="font-display uppercase max-w-5xl ">
    <div class="koreci-container ">
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      <p>koreci</p>
      </div>
    
  </h1>
  
</div>

