---
import Base from "@/layouts/Base.astro";
import Banner from "@/layouts/components/Banner.astro";
import KeyFeatures from "@/layouts/components/KeyFeatures.astro";
import Service from "@/layouts/components/Service.astro";
import Testimonial from "@/layouts/components/Testimonial.astro";
---
<Base>
<div class="page-wrapper">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 shop">
          <div class="uct-view">
            <!-- Sol Üst -->
            <div class="product-essential">
              <div class="row">
                <div class="col-sm-5">
                  <div class="thumb-gallery gallery" data-plugin-options="{'autoheight': true, 'delegate': 'a', 'type': 'image', 'gallery': {'enabled': true}, 'mainClass': 'mfp-with-zoom', 'zoom': {'enabled': true, 'duration': 300}}">
                    <div class="owl-carousel owl-theme manual thumb-gallery-detail show-nav-hover owl-loaded owl-drag" id="thumbGalleryDetail">
                      <div class="owl-stage-outer owl-height" style="height: 459.5px;">
                        <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all; width: 3273px;">
                          <div class="owl-item active" style="width: 457.5px; margin-right: 10px;">
                            <div>
                              <a data-size="1500x2000" href="#" class="img-thumbnail hoverZoomLink">
                                <img alt="" src="#" class="img-responsive">
                                <span class="zoom z9"><i class="fa fa-search" aria-hidden="true"></i></span>
                              </a>
                            </div>
                          </div>
                          <!-- Diğer resimler buraya eklenecek -->
                        </div>
                      </div>
                      <div class="owl-nav">
                        <div class="owl-prev disabled"></div>
                        <div class="owl-next"></div>
                      </div>
                      <div class="owl-dots disabled"></div>
                    </div>
                    <div class="owl-carousel owl-theme manual thumb-gallery-thumbs mt owl-loaded owl-drag" id="thumbGalleryThumbs" data-items="4" data-margin="">
                      <div class="owl-stage-outer">
                        <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all; width: 827px;">
                          <div class="owl-item active" style="width: 103.125px; margin-right: 15px;">
                            <div>
                              <span class="img-thumbnail cur-pointer">
                                <img alt="" src="#" class="img-responsive">
                              </span>
                            </div>
                          </div>
                          <!-- Diğer küçük resimler buraya eklenecek -->
                        </div>
                      </div>
                      <div class="owl-nav disabled">
                        <div class="owl-prev"></div>
                        <div class="owl-next"></div>
                      </div>
                      <div class="owl-dots disabled"></div>
                    </div>
                  </div>
                </div>
                <div class="product-details-box col-sm-7 col-md-7">
                  <div class="product-details-box-inner">
                    <h1 class="product-name">Güzel Sanatlara Hazırlık Kursları</h1>
                    <div class="product-short-desc">
                      <p><strong>Öğrencilerimizi Güzel Sanatlara Hazırlık Kursları ile Özel Yetenek Sınavlarına Hazırlıyoruz.</strong></p>
                      <p>Tüm Öğrencilerimize Kazandırıyoruz.</p>
                      <p><strong>Kurs çalışma saatleri</strong></p>
                      <p>Pazartesi - Salı - Çarşamba - Perşembe - Cumartesi - Pazar</p>
                      <ul>
                        <li>11:00 – 19:00</li>
                      </ul>
                      <p>Salı Perşembe Akşam Grubu:</p>
                      <ul>
                        <li>18:00 – 21:00 saatleri arasındadır.</li>
                      </ul>
                    </div>
                    <div class="product-actions col-xs-12 col-md-12 col-sm-12 pl0 pt10">
                      <div class="col-xs-12 col-md-12 p0 mt15">
                        <a class="btn butn-dark m-w100y m-mb15" href="tel:02163471968" target="_blank">
                          <span class="block f14 tleft">Arayın</span>
                          <span class="block f14 tleft f18 b"><i class="fa fa-phone" aria-hidden="true"></i> 905061224792</span>
                        </a>
                        <a class="btn btn-success m-w100y m-mb15" href="https://wa.me/905061224792" target="_blank">
                          <span class="block f14 tleft">WhatsApp</span>
                          <span class="block f14 tleft f18 b"><i class="fa fa-whatsapp" aria-hidden="true"></i> 05061224792</span>
                        </a>
                        <a class="btn butn-dark m-w100y m-mb15" href="/iletisim" target="_blank">
                          <span class="block f14 tleft">Form Gönderin</span>
                          <span class="block f14 tleft f18 b"><i class="fa fa-envelope" aria-hidden="true"></i> İletişim Formu</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tabs product-tabs mt30">
              <ul class="nav nav-tabs">
                <li class="active nav_li_1">
                  <a href="#tab_1" data-toggle="tab">Güzel Sanatlara Hazırlık Kursu</a>
                </li>
                <li class="nav_li_2">
                  <a href="#tab_2" data-toggle="tab">Eğitim Takvimi</a>
                </li>
              </ul>
              <div class="tab-content">
                <div id="tab_1" class="tab-pane active">
                  <div class="product-desc-area">
                    <p><strong>GÜZEL SANATLARA HAZIRLIK KURSU</strong></p>
                    <p>Güzel sanatlara hazırlık kursu; lise, üniversite ve yurtdışı üniversitelerinde güzel sanatlar bölümünde okumak isteyen bireylerin tercih ettiği eğitim merkezleridir. Bu açıdan bakıldığında güzel sanatlara hazırlık kursu aslında mesleki anlamda bir eğitim merkezine geçişte köprü görevi görmektedir. Saydığımız eğitim kurumları (lise, üniversite ve yurtdışı üniversite) güzel sanatlara hazırlık bölümlerine öğrenci alımı yaparken genel olarak yetenekleri ölçmektedirler.</p>
                    <p>Güzel sanatların içindeki herhangi bir bölüme ilgi duyan bireyler başarılarını yetenek sınavlarında ispatlamak için güzel sanatlara hazırlık kurslarını tercih etmektedirler. Dolayısıyla bireylerin bu yetenek sınavında başarılı olabilmeleri için asgari düzeyde bir yeteneğe sahip olmaları gerekmektedir. Güzel sanatlara hazırlık kursları başarının düzeyini arttırmak için düzenlenmiş kurumlardan oluşur.</p>
                    <p>Güzel sanatlara hazırlık kursları hakkında detaylı bilgi için sayfamızı detaylı incelemeye devam edin.</p>
                    <blockquote>
                      <a href="/"><strong>Koreci.Art</strong></a> olarak, sizleri güzel sanatlara taşımak için, eğitimde kaliteyi ve çağdaş yöntemleri öne çıkararak başarıyı yakalamanızı sağlamaktayız!
                    </blockquote>
                    <p>Güzel sanatlara ilgi duyuyorsanız yetenekli olup olmamanız önemli değildir. Merakınız, ilginiz ve heyecanınız bizim tecrübemizle birleşince başarı kaçınılmaz olacaktır.</p>
                    <h2>GÜZEL SANATLARA HAZIRLIK KURSU FİYATLARI</h2>
                    <p><em><strong>Güzel sanatlara hazırlık kursu fiyatları</strong></em> birçok faktöre bağlı olarak değişiklik gösterebilmektedir.</p>
                    <p>Bunlar;</p>
                    <ul>
                      <li>Kursun toplam <strong>süre/saati</strong>,</li>
                      <li>Kursun bulunduğu il, ilçe veya <strong>lokasyon</strong>,</li>
                      <li>Kursu alan <strong>kursiyer sayısı</strong>,</li>
                      <li>Kurs eğitimini veren <strong>eğitmenin niteliği</strong>,</li>
                      <li>Kurslar arası <strong>rekabet ortamının varlığı</strong>,</li>
                      <li>Kurs programı ve <strong>kursun sahip olduğu fiziksel ve niteliksel özellikleridir.</strong></li>
                    </ul>
                    <p>Bütün bunlara ek olarak fiyatı etkileyen ve belirleyen bir diğer sebep ise alınan eğitimin <strong>grup eğitimi</strong> mi yoksa <strong>birebir eğitim</strong> mi olduğudur. <u><em>Grup eğitimleri birebir eğitimlere göre fiyat açısından daha uygundur.</em></u></p>
                    <p><span style="color:#FF0000;"><strong>DİKKAT!</strong></span></p>
                    <p>Aklınızdan çıkarmamanız gereken bir şey var! Unutmayınız ki fiyatlar kaliteyi belirlemez; <em><strong>kalite fiyatı belirler</strong></em>. Bu nedenle gerçek dışı fiyatlarla eğitim veren kurumlara güvenmeyiniz! <em>Eğitimde tasarruf olmaz.</em> Kaliteli ve verimli bir eğitimle gerçek anlamda başarıyı elde etmek isterseniz kaliteyi fiyat ile ölçmeyiniz!</p>
                    <h2>YETENEK SINAVI NEDİR?</h2>
                    <p><strong>Yetenek sınavları</strong> üniversitelerin <em><u>güzel sanatlar</u></em>, <em><u>konservatuar</u></em>, <em><u>spor ve beden eğitimi yüksekokulları</u></em> özel yetenek sınavlarıyla öğrenci alımı yapmaktadır. Yani <strong>yetenek sınavı</strong>, öğrencinin üniversite geçiş puanına bakılmaksızın (barajı geçme şartıyla) <em><strong>dans</strong></em>, <em><strong>tiyatro</strong></em>, <em><strong>resim</strong></em>, <em><strong>müzik</strong></em>, <em><strong>heykel</strong></em>, <strong><em>moda ve sanat tasarımı</em></strong>, <em><strong>görsel sanatlar</strong></em>, <em><strong>opera</strong></em>, <em><strong>bale</strong></em>, <em><strong>bazı mimarlık alanları</strong></em> ve <em><strong>müzik öğretmenliği</strong></em> gibi bölümlere yerleştirilmesidir. Ancak adından da anlaşılacağı üzere <em><strong>“</strong></em><span style="color:#FF0000;"><em><u><strong>yetenek sınavları</strong></u></em></span><em><strong>”</strong></em>nda başvuran öğrencilerde başvurdukları alanla ilgili olarak minimum düzeyde dahi olsa yeteneklerini kanıtlamaları gerekmektedir.</p>
                    <h4><strong>Peki yetenek sınavı soruları nasıl belirleniyor?</strong></h4>
                    <p>Genel olarak;</p>
                    <ul>
                      <li>Başvurduğunuz üniversitenin fakültesinde, farklı bölümlerinde aktif olan <strong>akademisyenlerden bir kurul oluşturulur.</strong></li>
                      <li>Bu kurul ortak bir uzlaşma ile soruları belirler ve bu sorular kurul başkanı tarafından onaylanır.</li>
                      <li>Sorular bir zarfa konularak mühürlenir. Herkese aynı sorular sorularak yetenekler ölçülür.</li>
                      <li>Sonuçlar da üniversitenin çalışma stiline göre bir süre çerçevesinde sonuçlanır.</li>
                    </ul>
                    <h2>YETENEK SINAVINA GİRECEKLERE TAVSİYELER</h2>
                    <p><strong>Güzel sanatlara hazırlık kursuna</strong> katılmaktaki amacınız yetenek sınavını geçmek olmamalıdır. Sizler bir meslek dalında kendinizi ne kadar geliştirirseniz o mesleği o kadar iyi yapabilirsiniz. Dolayısıyla amaç, mesleki hayata başlangıçta mesleğin teknik ve yöntemlerini geliştirme olmalıdır. <strong>Yetenek sınavına girmek</strong> istediğiniz üniversiteyi önceden belirleyin. Ardından burasıyla ilgili olarak kendinizi sürekli olarak motive edin. Kendinizi oraya ait hissedene kadar bunu mutlaka deneyin. Sonuçta o üniversiteyi kazanmak için göreceksiniz ki içinizde inanılmaz ve müthiş bir istek oluşacaktır.</p>
                    <blockquote>
                      <a href="/"><strong>Koreci.Art</strong></a> olarak, kursiyerlerimizin yetenek sınavına katılana kadar olan sürecini en iyi şekilde değerlendirmelerini sağlıyoruz!
                    </blockquote>
                    <p><strong>Yetenek sınavına</strong> girmeden önce kurs sürecindeki çalışma prensibiniz de oldukça önemlidir; çünkü bu prensip sizin yetenek sınavını kazanıp kazanamayacağınızı doğrudan belirler. Kurs eğitmeninizin plan, program ve çalışma tekniğine uyduğunuz sürece disiplinli ve etkin bir çalışma metodu belirlenmiş olacaktır. Dolayısıyla sınavı kazanamamanız için hiçbir sebep olamaz. Asıl mesele, sizin gerçek anlamda yeteneğinizi ortaya çıkarmaktır.</p>
                    <p>Çalışmalarınıza süreklilik kazandırın. Sürekli olarak yapılan alıştırmalar sizi rakiplerinizin önüne atacaktır. <span style="color:#FF0000;"><u><strong>Başarı için emek vermek gerekir!</strong></u></span></p>
                    <h2>KİMLER YETENEK SINAVINA GİREBİLİR?</h2>
                    <p><strong>Yetenek sınavına girmeye hak kazanabilmek için;</strong> Ösym tarafından gerçekleştirilen üniversiteye geçişte yapılan sınavdan (AYT-TYT) <strong>barajı geçmek gereklidir.</strong> Dolayısıyla yetenek sınavına girebilmek için <strong>lise mezunu olmak</strong> ya da <strong>lise son sınıfta olmak gereklidir.</strong> Diğer yandan, Türkiye Cumhuriyeti vatandaşı olma şartı vardır. Elbette ki yabancı öğrenciler için de kısıtlı da olsa kontenjan ayrılmıştır.</p>
                    <h2>GÜZEL SANATLARA HAZIRLIK KURSUNA KİMLER KATILABİLİR?</h2>
                    <ol>
                      <li>Lise son sınıfta olan ya da liseden mezun olan bireyler,</li>
                      <li>Güzel Sanatlar Fakültesi içerisinde bulunan bölümlerde (<strong>Sahne Tasarımı</strong>, <strong>İç Mimarlık</strong>, <strong>Moda ve Tekstil Tasarımı</strong>, <strong>El Sanatları Tasarımı</strong>, <strong>Cam ve Seramik Tasarımı</strong>, <strong>Görsel İletişim</strong>, <strong>Heykel</strong>, <strong>Fotoğrafçılık</strong>, <strong>Çizgi Film ve Animasyon</strong>, <strong>Sanat Yönetimi ve Grafik</strong>) okumak isteyenler,</li>
                      <li><em><u>Marmara Üniversitesi</u></em>, <em><u>Mimar Sinan Güzel Sanatlar Üniversitesi</u></em>, <em><u>Anadolu Üniversitesi</u></em>, <em><u>Balıkesir Üniversitesi</u></em>, <em><u>Dokuz Eylül Üniversitesi</u></em>, <em><u>Gazi Üniversitesi</u></em> gibi devlet üniversitelerinde <span style="color:#FF0000;">4 yıllık lisans eğitimi</span> almak isteyenler,</li>
                      <li><em><u>Başkent Üniversitesi</u></em>, <em><u>Bilgi Üniversitesi</u></em>, <em><u>Işık Üniversitesi</u></em> ve <em><u>Beykent Üniversitesi</u></em> gibi vakıf ya da özel üniversitelerde eğitim görmek isteyenler,</li>
                      <li><strong>Yetenek sınavlarında</strong> başarılı olmak isteyen bireyler,</li>
                      <li><strong>Güzel sanatlara</strong> ilgi duyan ve hobi olarak yeteneğini geliştirmek isteyen lise mezunu herkes güzel sanatlara hazırlık kursuna katılabilir.</li>
                    </ol>
                    <h2>NEDEN GÜZEL SANATLAR HAZIRLIK KURSUNA KATILMALIYIM?</h2>
                    <p>Kurslar her zaman belirli bir ortamda, belirli saatlerde ve düzenli işleyen bir program çerçevesinde sunulur. Bu eğitimlerin genel niteliği de daha çok sınavlara yönelik olmasıdır. <strong>Güzel sanatlara hazırlık kursuna katılmalısınız</strong>; çünkü bir kursun vereceği bilgi, birikim, donanım ve tecrübe ile yetenek sınavını daha kolay bir şekilde kazanabilirsiniz. Ayrıca kurs süresinde size sağlanan eğitim, mesleki hayatınızda da oldukça etkili olacaktır. Diğer yandan aynı kursu alan arkadaşlarla hem mesleki anlamda hem de sosyal anlamda dostluklar kurulabilir. Kurs ortamı sizi çalışmaya sevk edecektir.</p>
                    <p>Profesyonel bir mantıkla hareket eden uzman eğitmenlerimiz aracılığıyla üniversiteye girmeniz daha da kolaylaşacaktır. <strong>Güzel sanatlara hazırlık kursunda</strong> alacağınız temel yeteneğinizin şekillenmesini de sağlayacaktır.</p>
                    <h2>GÜZEL SANATLAR HAZIRLIK KURSUNDA NELER ÖĞRENECEĞİM?</h2>
                    <p>Hangi alanla ilgileniyorsanız o alanla ilgili eğitim almalısınız. Örneğin; resim alanında eğitim aldığınızda öğreneceklerinizin arasında <strong>temel çizim teknikleri</strong>, <em><strong>serbest çizim çalışmaları</strong></em>, <em><strong>iç mekan çalışması</strong></em>, <em><strong>dış mekan çalışması</strong></em>, <em><strong>portre çizim</strong></em>, <em><strong>perspektifsel çizimler</strong></em>, <em><strong>nesne ve hayal ürünü çizimleri</strong></em> ve <em><strong>gölgelendirme çalışmaları</strong></em> üzerinde yoğunlaşılır.</p>
                    <p><a href="/guzel-sanatlara-hazirlik-kurslari"><span style="color:#FF0000;"><strong>Güzel sanatlara hazırlık kursları</strong></span></a> görsel zekanın geliştirilmesini de önemser. Üç boyutlu çalışmaların yapılmasında oldukça önemli olan görsel zeka eğitimi de öğrenecekleriniz arasındadır. Yine öğrencilerin sanat tarihi bilgisini ölçmeye çalışan <em><strong>yetenek sınavları</strong></em> da gözetilerek sağlanan sanat tarihi eğitimleri de öne çıkmaktadır. Yine konu üzerinden resim çizme yöntemleri ve boyama teknikleri de <strong>güzel sanatlara hazırlık kurslarında</strong> öğretilenler arasında yer almaktadır.</p>
                    <p>Kimi zaman da öğrenciler <u>güzel sanatlara hazırlık kursuna</u> katıldıktan bir süre sonra hangi bölüme gideceğine karar verebilirler. Bu noktada, ilgi alanını önceden belirleyenler ve kurs esnasında karar verenler olarak iki grup öğrenci bulunmaktadır.</p>
                    <h2>GÜZEL SANATLARA HAZIRLIK KURSUNUN AVANTAJLARI NELERDİR?</h2>
                    <p><strong>Güzel sanatlara hazırlık kursu</strong> sizlere birçok açıdan avantajlar sunmaktadır. Her şeyden önce hayalinizi gerçekleştirmek için en kaliteli planlamayı ve çalışmayı yürütür. <em>Güzel sanatlara hazırlık kursu</em> ilgi alanınızı daha fazla benimsemenize ve bilmenize destek sunar. Kurs süresince kendi eksik yönlerinizin farkına varıp profesyonelce hareket eden eğitmenler sayesinde eksiklerinizi tamamlama fırsatı edineceksiniz.</p>
                    <p><strong>Güzel sanatlara hazırlık kursuna</strong> gittiğinizde, hala aklınızda hangi alana yönelmekle ilgili olarak soru işaretleri varsa, kursun uzman eğitmeni size bu konuda destek olacaktır. Öte yandan, kurs ortamı bir grup çalışmasını da aktif hale getirir. Kursta edindiğiniz dostlarınızla çalışmalarınız konusunda paylaşımlarda bulunma şansına kavuşacaksınız. Ayrıca bu <em><strong>grup çalışması</strong></em> sizin neyi doğru; neyi yanlış yaptığınızı da açığa çıkaracaktır. Bu süreç kümülatif bir süreçtir. Öğrenme de bu biçimde adım adım gerçekleşir.</p>
                    <p>Son olarak, <strong>güzel sanatlara hazırlık kursu olarak <a href="/">Koreci.Art</a></strong>, etkin ve verimli bir çalışma sistemiyle sizi kendi alanınızda başarılı bireylere dönüştürmeye hazırdır. Bizler sanatın gücüne ve etkisine sonuna kadar inanan bir zihnin yansımasıyız. Hep birlikte çalışa çalışa, ürete ürete sanatı en üst düzeye çıkarmaya çalışmaktayız.</p>
                    <p>EN İYİ GÜZEL SANATLARA HAZIRLIK KURSU</p>
                    <p><em><strong>En iyi güzel sanatlara hazırlık kursu</strong></em> her zaman başarıya odaklanır. Burada esas olan bireylerin yetenek sınavlarına sıkı bir şekilde, disiplinli ve düzenli çalışmalar ile hazırlanmasıdır. En iyi <strong>güzel sanatlara hazırlık</strong> kursu güncel, çağdaş ve etkili eğitim yöntemlerini kullanarak kurs katılımcılarının başarılarını olumlu yönde etkileyen kurstur. Bu başarılı sonucun ortaya çıkması için her şeyden önce iyi bir çalışma ortamının düzenlenmesi gerekir.</p>
                    <p>Kursiyerler bir amaç etrafında bir araya gelirler. Bu amaç da hiç şüphesiz üniversitelerin özel yetenek sınavıyla öğrenci aldığı güzel sanatlar fakültelerine ya da bölümlerine yerleşmektir. Eğer seçmiş olduğunuz güzel sanatlara hazırlık kursu sizi amacınıza götürme gayesi içerisinde değil ise istediğiniz verimi almanız oldukça zordur. Dolayısıyla iyi bir kurs öğrencilerinin başarısını her şeyden ayrı olarak düşünmelidir. En iyi diye nitelendirebileceğimiz <strong>güzel sanatlar kursları</strong>, öğrencilerine sadece kurs süresi içinde değil kurs bittikten sonraki süreçte de destek olurlar.</p>
                    <p>PEKİ NEDEN Koreci.Art?</p>
                    <p><a href="/"><strong>Koreci.Art</strong></a> olarak amaç edindiğimiz temel ilke, kursiyerlerimizin ya da öğrencilerimizin en üst düzeyde faydayı sağlayabilecekleri bir ortam yaratıp hayallerinin gerçek mimarı olmaktır. Hedef olarak kendimize biçtiğimiz pay, her kursiyerimizin özel yetenek sınavından başarıyla geçmeleri ve iyi bir üniversitede <em>Güzel Sanatlar Fakültesi</em>’nde istediği alanı okumasıdır.</p>
                    <p>Profesyonel desteğimizi kurs sürecinde ve sonrasında da olabildiğince devam ettirmeye çalışarak ülkemizin sanatla bütünleşen aydınlık yüzünün tablosunu çizmeye çalışmaktır. <em><strong>Güzel sanatlar hazırlık kursu</strong></em> temelinde verdiğimiz diğer eğitimler de dahil olmak üzere <a href="/"><strong>Koreci.Art</strong></a> olarak ciddi bir memnuniyet oranını yakalamaktayız. Aslında bir bakıma bu memnuniyet oranı kursiyerlerimizin başarısı ile ilgilidir.</p>
                    <p><a href="/"><em>Koreci.Art</em></a>’yi tercih etmek için birçok sebebiniz var. Daha kaliteli ve etkileyici resim mi yapmak istersiniz? Gerçeği resme aktarmak ve boya kalemlerinizle yaşatmak mı isterseniz? Mutluluğu, huzursuzluğu, içtenliği, öfkeyi, kızgınlığı, sevgiyi, gücü, aşkı, esareti, özlemi, hasreti ve umutsuzluğu mu resmetmek istersiniz? Bunları hayal etmek yerine gerçekleştirmek mümkün!</p>
                    <blockquote>
                      <strong><a href="/">Koreci.Art</a> hayallerinizin gerçeğe dönüştüğü alanda yer alır.</strong>
                    </blockquote>
                    <p><a href="/egitmenler"><strong>Koreci.Art’nin uzman eğitmenleriyle</strong></a> size sunacağı eğitim, hayata olan bakış açınızı da değiştirecektir. Sanat insanı yoktan var eder. En hüzünlü anınızda bile sanatla dünyanın en mutlu insanına dönüşebilirsiniz. Koreci.Art’yi tercih ettiğiniz takdirde disiplinli, rasyonel ve doğru adımlarla ilerleyen bir çalışma tekniği ile karşılaşacaksınız. Yeteneğinizin olmadığını asla düşünmeyin.</p>
                    <blockquote>
                      <strong>Yeteneğinizi açığa çıkarmanın en doğru yoludur, <a href="/">Koreci.Art!</a></strong>
                    </blockquote>
                    <p><u><em><strong>Koreci.Art</strong></em></u> aynı zamanda bir vizyon merkezidir. Güzel sanatlara ilgi duyan ya da ilgilenen herkesin ufkunu açan ve yeni fikirler ortaya koyabilen bir düşünüş okuludur.</p>
                    <p><span style="color:#FF0000;"><em><strong>Sanatın evinde yaşamanın mutluluğunu ve huzurunu tatmak için herkesi bekleriz...</strong></em></span></p>
                  </div>
                </div>
                <div id="tab_2" class="tab-pane">
                  <div class="product-desc-area">
                    <p>Koreci.Art Güzel Sanatlar Eğitim Programı; hafta içi dört gün (Pazartesi, Çarşamba) (Salı Perşembe), hafta sonu iki gün ve hafta sonu bir gün (Cumartesi veya Pazar Günü) olmak üzere dört grup halinde devam etmektedir.</p>
                    <p>Her yıl Ekim ayında başlayan eğitim program takip eden yılın Eylül ayının (Güzel Sanatlar Fakültelerinin yetenek sınavlarının bitiş tarihi) sonuna kadar devam eder. Bu eğitim sürecinde Haziran ayından İtibaren (Orta Öğretim Kurumlarının kapanmasıyla birlikte) hafta içi ve hafta sonu gruplarımız birleşerek haftada Beş tam gün olarak, Temmuz, Ağustos ve Eylül Ayında Yedi Tam gün yoğun atölye eğitimi dönemini tamamlamaktadır.</p>
                    <p>Ayrıca, Lise 9. Ve Lise 10-11.sınıf öğrencilerine yönelik eğitim programımız Ekim ayında başlayıp takip eden yılın Eylül ayına kadar hafta sonu Cumartesi- Pazar günü ve iki günden oluşmaktadır.</p>
                    <p>Kurs çalışma saatleri</p>
                    <p>Pazartesi - Salı - Çarşamba - Perşembe - Cumartesi - Pazar</p>
                    <p>10:00 – 14:00</p>
                    <p>10:00 – 18:00</p>
                    <p>Salı Perşembe Akşam Grubu 18:00 – 21:00 saatleri arasındadır.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="cboth mt15"></div>
            <h2 class="slider-title">
              <span class="inline-title">Eğitimler</span>
              <span class="line"></span>
            </h2>
            <div class="owl-carousel owl-theme owl-urun-liste owl-loaded owl-drag owl-carousel-init" data-plugin-options="{'lazyLoad':true, 'margin':20, 'nav':true, 'dots': false, 'loop': false, 'responsive': {'0':{'items':2},'1000':{'items': 4}}}">
              <div class="owl-stage-outer">
                <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all; width: 870px;">
                  <div class="owl-item active" style="width: 270px; margin-right: 20px;">
                    <div class="product">
                      <figure class="product-image-area">
                        <a href="#" class="product-image">
                          <img src="#" class="img-responsive w100y" alt="">
                        </a>
                      </figure>
                      <div class="product-details-area">
                        <h2 class="product-name"><a href="#">Yurtdışı Portfolyo Hazırlık</a></h2>
                        <div class="product-ratings">
                          <div class="ratings-box">
                            <div class="rating" style="width:0%"></div>
                          </div>
                        </div>
                        <div class="product-actions">
                          <a href="#" class="btn btn-primary" title="İncele"><span>İncele</span></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Diğer ürünler buraya eklenecek -->
                </div>
              </div>
              <div class="owl-nav disabled">
                <div class="owl-prev disabled"></div>
                <div class="owl-next disabled"></div>
              </div>
              <div class="owl-dots disabled"></div>
            </div>
          </div>
        </div>
      </div>
    </div>