---

import cloudinary from 'lib/cloudinary';

// Cloudinary'den görselleri çek
const result = await cloudinary.search
  .expression('folder:users') // "test_images" klasöründeki görselleri çek
  .sort_by('public_id', 'desc') // Görselleri public_id'ye göre sırala
  .max_results(12) // Maksimum 10 görsel çek
  .execute();

const images = result.resources; // Görselleri al
---

<html>
  <body>
    <div>
        {images.map((image) => (
          <img
            src={`${image.secure_url.replace('/upload/', '/upload/f_auto,q_auto:low,fl_strip_profile/')}`}
            alt={image.public_id}
            width="300"
            loading="lazy"
          />
        ))}
      </div>
      
  </body>
</html>