---

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body>
    <!-- API Loader yalnızca bir kez yükleniyor -->
    <gmpx-api-loader solution-channel="GMP_QB_locatorplus_v11_c"></gmpx-api-loader>
    
    
  </body>
</html>